@use "../modules" as *;
body {
    background-color: $colourGray;
}

.headline {
    margin: px(80) 0;
    display: grid;
    margin-inline: auto;
    align-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    justify-items: center;
    width: min(100% - px(40), px(1140));
    @include breakpoint(tablet) {
        grid-template-columns: 1fr 1fr;
        justify-items: start;
    }

    h2 {
        font-size: px(60);
        font-weight: weight(bold);
    }
    p {
        font-size: px(24);
        font-weight: weight(regular);
    }
}

.timeline__solo {
    width: 100vw;
    // height: 100vh;
    flex-shrink: 0;
}

.blue {
    background-color: blue;
}
.red {
    background: red;
}
.pink {
    background: pink;
}

.timeline {
    height: 600px;
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    overflow-x: hidden !important;
}

.timeline > * {
    scroll-snap-align: start;
}
