@use "./function" as *;

//  @include transitionEase;
@mixin transitionEase {
    transition: all 0.6s ease-in-out;
}

// @include imagefit(px(545));
@mixin imagefit($height) {
    width: 100%;
    height: $height;
    object-fit: cover;
}
