// @use "/sass/modules/" as *;

$colourDarkBlue: #213368;
$colourLightBlue: #00b1eb;
$colourOrange: #f58220;
$colourGray: #e4e5e6;

//font-weight: map-get($font-weights, regular);
$font-weights: (
    "regular": 400,
    "medium": 600,
    "bold": 700,
);

//font-weight: weight(bold);

@function weight($weight-name) {
    @return map-get($font-weights, $weight-name);
}
